<!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-sm-0" type="submit">Search</button>
</form> -->
<div class="container">
  <input id="searchBar" #searchInput class="searchbar" type="text" placeholder="Search..."
  (keyup.enter)="searchBooks(searchInput.value)">
  <a 
  (click)="searchBooks(searchInput.value)"
  id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
</div>
