.searchbar {
    float: right;
    /* background-color: #D03237; */
    background-color: #49525A;
    /* 353B41 */
    /* 403a34 */
    color: white;
    border: none;
    margin-top: 1px;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
    width: 20px;
}

.searchbar::placeholder {
    color: white;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    /* transition: 0.2s; */
}

.searchbar:focus {
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
    /* Stops the input box from inheriting the styling from the inputs on the request form */
    border-bottom: white solid 2px;
    outline: none;
    width: inherit;
    /* Now we change the class of the div */
}

.btn-search {
    cursor: pointer;
    color: white;

    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    padding-top: 5px;
    margin-right: 40px;
}

.btn-search:hover {
  color: #49525A;
}